    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
    * {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --blue: #2a2185;
        --white: #fff;
        --grey: #f5f5f5;
        --black1: #222;
        --black2: #999;
        --warna-kuning: #F3CD00;
        --warna-hijau: #31502C;
    }
    
    body {
        height: 100vh;
        overflow-x: hidden;
    }
    
    .container {
        position: relative;
        width: 100%;
    }
    /* navigation */
    
    .navigation {
        position: fixed;
        width: 300px;
        height: 100%;
        background: var(--warna-hijau);
        transition: 0.5s;
        overflow: hidden;
    }
    
    .navigation.active {
        width: 80px;
    }
    
    .navigation ul {
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .navigation ul li {
        position: relative;
        width: 100%;
        list-style: none;
        padding-left: 10px;
    }
    
    .navigation ul li:hover,
    .navigation ul li.hovered {
        background-color: var(--white);
    }
    
    .navigation ul li:nth-child(1) {
        margin-bottom: 40px;
        pointer-events: none;
    }
    
    .navigation ul li a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: var(--white);
    }
    
    .navigation ul li:hover a,
    .navigation ul li.hovered a {
        color: var(--warna-hijau);
    }
    
    .navigation ul li a .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 75px;
        text-align: center;
    }
    
    .navigation ul li a .icon ion-icon {
        font-size: 1.75rem;
    }
    
    .navigation ul li a .title {
        position: relative;
        display: block;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        text-align: start;
        white-space: nowrap;
    }
    
    .title {
        font-size: 14px;
    }
    
    .header {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
        color: var(--warna-kuning);
        font-weight: 400;
        width: 10rem;
        margin-top: 5px;
        font-family: "Poppins", sans-serif;
        padding-left: 1.4rem;
    }
    
    .judul img {
        width: 35px;
        position: absolute;
        margin-top: -1rem;
        left: 7%;
    }
    
    .judul h1 {
        font-size: 20px;
        position: absolute;
        left: 10%;
        margin-top: -13px;
        margin-left: 1rem;
        color: var(--warna-hijau);
        font-family: "Poppins", sans-serif;
    }
    
    .main {
        position: absolute;
        width: calc(100% - 300px);
        left: 300px;
        min-height: 100vh;
        background: var(--white);
        transition: 0.5s;
    }
    
    .main.active {
        width: calc(100% - 80px);
        left: 80px;
    }
    
    .topbar {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    
    .toggle {
        position: relative;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        cursor: pointer;
    }
    
    .cardBox {
        width: 35rem;
        margin-left: 1.6rem;
    }
    
    .cardBox h1 {
        color: var(--warna-hijau);
        font-size: 2rem;
    }
    
    .search-input {
        width: 37rem;
        height: 50px;
        border-radius: 20px;
        margin-top: 2rem;
        border: none;
        box-shadow: 4px 5px 15px rgba(143, 143, 143, 0.432);
        padding-left: 51px;
        padding-right: 20px;
        outline: none;
        font-family: "Poppins", sans-serif;
        margin-left: 1.8rem;
    }
    
    .search-input:focus {
        box-shadow: 4px 5px 17px rgba(0, 0, 0, 0.7);
        border: 2px solid var(--warna-kuning);
        background-color: white;
    }
    
    .table {
        position: relative;
        width: 96%;
        margin: 20px;
        background-color: white;
        min-height: 500px;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 30px 20px;
    }
    
    .header-tabel {
        height: 3.5rem;
        border-bottom: solid 2px #3b3e5169;
    }
    
    .table tr th {
        background-color: var(--warna-hijau);
        text-align: center;
        color: white;
        font-weight: 400;
        width: 10rem;
        padding: 10px 0px;
        font-family: 'poppins', sans-serif;
        font-size: smaller;
    }
    
    .table tr th:first-child {
        border-top-left-radius: 10px;
    }
    
    .table tr th:last-child {
        border-top-right-radius: 10px;
    }
    
    table {
        margin-top: 20px;
        border-collapse: collapse;
        text-align: center;
    }
    
    .table tr td {
        border: 1px solid #3b3e517e;
        padding: 10px 0;
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: smaller;
    }
    
    .icon-delete {
        color: red;
        font-size: 1.5rem;
        margin-right: 10px;
    }
    
    .icon-edit {
        color: var(--warna-hijau);
        font-size: 1.5rem;
    }
    
    button {
        float: right;
        margin-top: -2.2rem;
        width: 7rem;
        height: 2.5rem;
        border-radius: 10px;
        border: none;
        background-color: var(--warna-hijau);
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'poppins', sans-serif;
    }
    
    .table button ion-icon {
        font-size: 1.5rem;
        margin-right: 5px;
    }
    
    .limited_text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;
        display: inline-block;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        position: fixed;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 60%;
        max-height: 80%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        font-family: 'Poppins', sans-serif;
        overflow-y: auto;
    }
    
    .input1 {
        width: 40%;
        height: 40%;
        border: dashed 2.5px rgb(110, 110, 110);
        border-radius: 20px;
        padding: 3rem 1rem;
        font-family: "Poppins", sans-serif;
        justify-content: center;
        text-align: center;
        gap: 0.3rem;
        display: flex;
        flex-direction: column;
    }
    
    .input1.dragging {
        background-color: #6bce5c;
        border-color: #31502C;
    }
    
    #button-foto {
        margin-top: 0.5rem;
        padding: 10px 20px;
        background-color: var(--warna-hijau);
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        margin-left: 33%;
    }
    
    #button-foto:hover {
        background-color: #20361c;
    }
    
    #drop-hint {
        font-size: 14px;
        font-style: italic;
    }
    
    .input2 {
        width: 60%;
        margin-top: 9rem;
    }
    
    .input3 {
        width: 100%;
        margin-top: 1rem;
    }
    
    .input4 {
        width: 50%;
    }
    
    .input5 {
        width: 50%;
    }
    
    .modal-content label {
        font-family: "Poppins", sans-serif;
    }
    
    .input1 span {
        font-family: "Poppins", sans-serif;
    }
    
    .input1,
    .input2,
    .input4,
    .input5 {
        flex: 1;
    }
    
    .modal-input {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .modal-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
    
    .close-modal {
        float: right;
        font-size: 3rem;
        font-weight: 400;
        cursor: pointer;
        color: var(--warna-hijau);
        margin-top: -0.6rem;
    }
    
    .close-modal:hover,
    .close-modal:focus {
        color: red;
    }
    
    .modal-content label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #3B3E51;
    }
    
    .header-modal {
        height: 3rem;
        border-bottom: solid 2px #3b3e5169;
    }
    
    .modal-content input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: 'poppins', sans-serif;
    }
    
    .select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: 'poppins', sans-serif;
    }
    
    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 5rem;
    }
    
    .modal-buttons button {
        background-color: var(--warna-hijau);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .modal-buttons button:hover {
        background-color: #2e7031;
    }
    
    #btn-batal {
        background-color: #e90000;
    }
    
    #btn-batal:hover {
        background-color: #999;
    }
    
    button.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
    
    .modal-hapus {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .modal-content-hapus {
        background-color: #fff;
        border-radius: 8px;
        padding-bottom: 3rem;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 90%;
    }
    
    .modal-content-hapus h2 {
        margin-top: 0;
        font-size: 24px;
        font-family: 'poppins', sans-serif;
    }
    
    .modal-content-hapus p {
        font-size: 16px;
        margin: 10px 0 20px;
        font-family: 'poppins', sans-serif;
    }
    
    .modal-buttons-hapus {
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        margin-top: 4.5rem;
    }
    
    .modal-buttons-hapus button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #f44336;
        color: #fff;
        transition: background-color 0.3s ease;
        font-family: 'poppins', sans-serif;
    }
    
    .modal-buttons-hapus button#btn-batal-hapus {
        background-color: #9e9e9e;
    }
    
    .modal-buttons-hapus button:hover {
        background-color: #d32f2f;
    }
    
    .modal-buttons-hapus button#btn-batal-hapus:hover {
        background-color: #757575;
    }
